body {
  background-image: url('back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 50px;
}

img:hover {
  transform: scaleX(-1);
}

.listen {
  box-sizing: border-box;
  position: relative;
  top: 750px;
  left: 550px;
}

.vision {
  box-sizing: border-box;
  position: relative;
  top: 320px;
  left: 530px;
}

.cover {
  box-sizing: border-box;
  position: relative;
  top: 670px;
  left: 580px;
}

/* .home {
  color: white;
} */

p {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  top: 370px;
  color: white;
  font-family: 'Amiri', serif;
}

a {
/*    removes the underline that comes with an a tag*/
    text-decoration: none;
    font-family: 'Amiri', serif;
    color: white;
}

.cove {
  box-sizing: border-box;
  font-family: 'Dorsa', sans-serif;
  font-size: 45px;
}
