body {
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 50px;
}

/* img:hover {
  transform: scaleX(-1);
} */

.listen {
  box-sizing: border-box;
  position: relative;
  top: 750px;
  left: -430px;
}

.vision {
  box-sizing: border-box;
  position: relative;
  top: 290px;
  left: -430px;
}

.cover {
  box-sizing: border-box;
  position: relative;
  top: 620px;
  left: -390px;
}

.home {
  position: fixed;
  width: 30%;
  top: -90px;
  text-align: left;
}

p {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  top: 370px;
  color: white;
  font-family: 'Amiri', serif;
}

a {
/*    removes the underline that comes with an a tag*/
    text-decoration: none;
    font-family: 'Amiri', serif;
    color: white;
}

.cove {
  box-sizing: border-box;
  font-family: 'Dorsa', sans-serif;
  font-size: 45px;
}

.Shop {
  font-family: 'Amiri', serif;
  background-color: black;
  border: 0px;
  margin: 0px;
  padding: 1vmin;
  color: white;
  text-align: center;
}

img {
  max-width: 50%;
  margin-bottom: 10px;
}

figure {
  color: blue;
  max-width: 35%;
  margin: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media only screen and (max-width: 469px) {

body {
  font-family: 'Amiri', serif;
  text-align: center;
  }

h1 {
  font-family: 'Amiri', serif;
  font-size: 100px;
}

  img {
    max-width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }

  figure {
    margin: 50px;
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

}

@media only screen and (min-width: 1084px) {
  .home {
    position: fixed;
    width: 15%;
    top: -90px;
    text-align: left;
  }

  body {
    font-family: 'Amiri', serif;
    font-size: 33px;
    color: blue;
    text-align: center;
    background-color: white;
  }

  h1 {
    font-family: 'Amiri', serif;
    font-size: 100px;
  }

  img {
    max-width: 80%;
    margin-bottom: 10px;
  }

  figure {
    margin: 50px;
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

  }

  figcaption {
    text-align: center;
  }
