body {
  background-image: url('back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 50px;
}

img:hover {
  transform: scaleX(-1);
}

.listen {
  position: relative;
  top: 530px;
  left: 590px;
}

.vision {
  position: relative;
  top: 270px;
  left: 580px;
}

.cover {
  position: relative;
  top: -210px;
  left: 180px;
}

.home {
  color: white;
}

p {
  position: relative;
  text-align: center;
  top: 370px;
  color: white;
  font-family: 'Amiri', serif;
}

a {
/*    removes the underline that comes with an a tag*/
    text-decoration: none;
    font-family: 'Amiri', serif;
    color: white;
}

.cove {
  font-family: 'Dorsa', sans-serif;
}
