body {
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 50px;
}

img:hover {
  transform: scaleX(-1);
}

.listen {
  box-sizing: border-box;
  position: relative;
  top: 750px;
  left: -430px;
}

.vision {
  box-sizing: border-box;
  position: relative;
  top: 290px;
  left: -430px;
}

.cover {
  box-sizing: border-box;
  position: relative;
  top: 620px;
  left: -390px;
}

.shoptitle {
  box-sizing: border-box;
  position: relative;
  top: -200px;
  left: 420px;
}

.home {
  position: absolute;
  width: 30%;
  top: -90px;
  text-align: left;
}

p {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  top: 370px;
  color: white;
  font-family: 'Amiri', serif;
}

a {
/*    removes the underline that comes with an a tag*/
    text-decoration: none;
    font-family: 'Amiri', serif;
    color: white;
}

.cove {
  box-sizing: border-box;
  font-family: 'Dorsa', sans-serif;
  font-size: 45px;
}

.Shop {
  font-family: 'Amiri', serif;
  background-color: black;
  border: 0px;
  margin: 0px;
  padding: 1vmin;
  color: white;
  text-align: center;
}

img {
  max-width: 50%;
  margin-bottom: 10px;
}

figure {
  font-family: 'Amiri', serif;
  font-size: 25px;
  color: blue;
  max-width: 100%;
  margin: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media only screen and (min-width: 1084px) {
  .home {
    position: fixed;
    width: 14%;
    top: -20px;
    text-align: left;
  }

  body {
    color: blue;
    text-align: center;
    background-color: white;
  }

  h1 {
    font-family: 'Amiri', serif;
    font-size: 100px;
  }

  img {
    max-width: 100%;
    margin-bottom: 10px;
}

figure {
  height: auto;
  width: 900px;
  display: inline-block;
  flex-wrap: wrap;
  flex-direction: row;
}

figcaption {
  font-size: 33px;
  text-align: center;
}
